.page {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  max-width: 100%;
  box-sizing: border-box;
  background: linear-gradient(160deg, #5000d6, black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  margin: 0 1rem;
  color: white;
  text-align: center;
}

.sub-head {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  font-weight: 600;
}

tspan {
  fill: white;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .sub-head {
    font-size: 1.2rem;
  }

  .link-text {
    font-size: 0.7rem;
  }
}
